<aside>
    <div class="toggle">
        <div class="logo">
            <img src="{{ url_for('static', filename='agroAssisstantLogo.png') }}"
                style="width: 40px; height: 40px">
            <h2>Agro<span class="success">Assistant</span></h2>
        </div>
    </div>
    <div class="sidebar">
        <a href="/dashboard">
            <span class="material-icons-sharp">dashboard</span>
            <h3>Dashboard</h3>
        </a>
        <a href="/calendar">
            <span class="material-icons-sharp">calendar_month</span>
            <h3>Calendar</h3>
        </a>
        <a href="/crops/show-crops">
            <span class="material-icons-sharp">yard</span>
            <h3>Crops</h3>
        </a>
        <a href="/plots">
            <span class="material-icons-sharp">satellite</span>
            <h3>Plots</h3>
        </a>
        <a href="/statistics">
            <span class="material-icons-sharp">bar_chart</span>
            <h3>Statistics</h3>
        </a>
        <a href="/chatbot">
            <span class="material-icons-sharp">forum</span>
            <h3>AgriAI</h3>
        </a>
        <a href="/diagnosis">
            <span class="material-icons-sharp">
                medical_services
            </span>
            <h3>Diagnosis</h3>
        </a>
        <a href="/profile">
            <span class="material-icons-sharp">account_circle</span>
            <h3>Profile</h3>
        </a>

        <a href="/logout">
            <span class="material-icons-sharp">logout</span>
            <h3>Logout</h3>
        </a>
    </div>
</aside>